<a href="https://colab.research.google.com/github/shaheen101/myPackage/blob/master/ZINDI_FINAL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, KFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score, learning_curve
from sklearn.metrics import mean_squared_error
import sklearn.metrics as metrics
from sklearn.svm import SVR
import lightgbm as lgb

from sklearn.ensemble import ExtraTreesRegressor, RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
import lightgbm as lgbm

sns.set(style='white', context='notebook', palette='deep')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [17]:
from google.colab import files
import io
Train_df= pd.read_csv(io.BytesIO(uploaded['Train.csv']))
Train_df.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [20]:
Test_df = pd.read_csv(io.BytesIO(uploaded['Test.csv']))
Test_df.head()

         Order No       User Id  ... Destination Long      Rider Id
0  Order_No_19248  User_Id_3355  ...        36.822390  Rider_Id_192
1  Order_No_12736  User_Id_3647  ...        36.823907  Rider_Id_868
2    Order_No_768  User_Id_2154  ...        36.851365   Rider_Id_26
3  Order_No_15332  User_Id_2910  ...        36.790658  Rider_Id_685
4  Order_No_21373  User_Id_1205  ...        36.792161  Rider_Id_858

[5 rows x 25 columns]

In [22]:
Rider_df = pd.read_csv(io.BytesIO(uploaded['Riders.csv']))
Rider_df.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

In [23]:
print(Train_df.shape, Test_df.shape, Rider_df.shape)
Train_df.head()

(21201, 29) (7068, 25) (960, 5)

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [24]:
for col in Train_df.columns:
    if col not in Test_df.columns:
        print(col)

Arrival at Destination - Day of Month
Arrival at Destination - Weekday (Mo = 1)
Arrival at Destination - Time
Time from Pickup to Arrival

In [25]:
#Checkingtarget variable was calculated

labels = pd.to_datetime(Train_df['Arrival at Destination - Time']) - pd.to_datetime(Train_df['Pickup - Time'])
list(labels.dt.seconds[:5]), list(Train_df['Time from Pickup to Arrival'][:5])

([745, 1993, 455, 1341, 1214], [745, 1993, 455, 1341, 1214])

In [26]:
#Drop data not available in test, Pickup Time + label = Arrival times


Train_df = Train_df.drop(['Arrival at Destination - Day of Month', 'Arrival at Destination - Weekday (Mo = 1)', 'Arrival at Destination - Time'], axis=1)

In [29]:
#Create (full_df = train + test) 
border = Train_df.shape[0]
Test_df['Time from Pickup to Arrival'] = [np.nan]* Test_df.shape[0]
combined_df = pd.concat([Train_df, Test_df], axis=0, ignore_index=True)

Train_df.shape, Test_df.shape, combined_df.shape

((21201, 26), (7068, 26), (28269, 26))

In [30]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28269 entries, 0 to 28268
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Order No                              28269 non-null  object
 1   User Id                               28269 non-null  object
 2   Vehicle Type                          28269 non-null  object
 3   Platform Type                         28269 non-null  int64
 4   Personal or Business                  28269 non-null  object
 5   Placement - Day of Month              28269 non-null  int64
 6   Placement - Weekday (Mo = 1)          28269 non-null  int64
 7   Placement - Time                      28269 non-null  object
 8   Confirmation - Day of Month           28269 non-null  int64
 9   Confirmation - Weekday (Mo = 1)       28269 non-null  int64
 10  Confirmation - Time                   28269 non-null  object
 11  Arrival at Pickup - Day of Month      28269 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)  28269 non-null  int64
 13  Arrival at Pickup - Time              28269 non-null  object
 14  Pickup - Day of Month                 28269 non-null  int64
 15  Pickup - Weekday (Mo = 1)             28269 non-null  int64
 16  Pickup - Time                         28269 non-null  object
 17  Distance (KM)                         28269 non-null  int64
 18  Temperature                           22466 non-null  float64
 19  Precipitation in millimeters          751 non-null    float64
 20  Pickup Lat                            28269 non-null  float64
 21  Pickup Long                           28269 non-null  float64
 22  Destination Lat                       28269 non-null  float64
 23  Destination Long                      28269 non-null  float64
 24  Rider Id                              28269 non-null  object
 25  Time from Pickup to Arrival           21201 non-null  float64
dtypes: float64(7), int64(10), object(9)
memory usage: 5.6+ MB

In [31]:
#Renaming columns (shorten, remove space, standardize)
new_names = {"Order No": "Order_No", "User Id": "User_Id", "Vehicle Type": "Vehicle_Type",
    "Personal or Business": "Personal_Business", "Placement - Day of Month": "Pla_Mon",
    "Placement - Weekday (Mo = 1)": "Pla_Weekday", "Placement - Time": "Pla_Time", 
    "Confirmation - Day of Month":"Con_Day_Mon", "Confirmation - Weekday (Mo = 1)": "Con_Weekday","Confirmation - Time": "Con_Time", 
    "Arrival at Pickup - Day of Month": "Arr_Pic_Mon", "Arrival at Pickup - Weekday (Mo = 1)": "Arr_Pic_Weekday", 
                "Arrival at Pickup - Time": "Arr_Pic_Time", "Platform Type": "Platform_Type",
     "Pickup - Day of Month": "Pickup_Mon", "Pickup - Weekday (Mo = 1)": "Pickup_Weekday",           
    "Pickup - Time": "Pickup_Time",  "Distance (KM)": "Distance(km)",
    "Precipitation in millimeters": "Precipitation(mm)", "Pickup Lat": "Pickup_Lat", "Pickup Long": "Pickup_Lon", 
    "Destination Lat": "Destination_Lat", "Destination Long":"Destination_Lon", "Rider Id": "Rider_Id",
                            "Time from Pickup to Arrival": "Time_Pic_Arr"
                           }
combined_df = combined_df.rename(columns=new_names)
combined_df.columns

Index(['Order_No', 'User_Id', 'Vehicle_Type', 'Platform_Type',
       'Personal_Business', 'Pla_Mon', 'Pla_Weekday', 'Pla_Time',
       'Con_Day_Mon', 'Con_Weekday', 'Con_Time', 'Arr_Pic_Mon',
       'Arr_Pic_Weekday', 'Arr_Pic_Time', 'Pickup_Mon', 'Pickup_Weekday',
       'Pickup_Time', 'Distance(km)', 'Temperature', 'Precipitation(mm)',
       'Pickup_Lat', 'Pickup_Lon', 'Destination_Lat', 'Destination_Lon',
       'Rider_Id', 'Time_Pic_Arr'],
      dtype='object')

In [32]:
#Convert Time from 12H to 24H
def convert_to_24hrs(fulldf):
    for col in fulldf.columns:
        if col.endswith("Time"):
            fulldf[col] = pd.to_datetime(fulldf[col], format='%H:%M:%S %p').dt.strftime("%H:%M:%S")
    return fulldf

combined_df = convert_to_24hrs(combined_df)

combined_df[['Pla_Time', 'Con_Time' , 'Arr_Pic_Time', 'Pickup_Time']][3:6]

   Pla_Time  Con_Time Arr_Pic_Time Pickup_Time
3  09:25:34  09:26:05     09:37:56    09:43:06
4  09:55:18  09:56:18     10:03:53    10:05:23
5  03:07:35  03:08:57     03:21:36    03:30:30

In [33]:
month_cols = [col for col in combined_df.columns if col.endswith("Mon")]
weekday_cols = [col for col in combined_df.columns if col.endswith("Weekday")]

count = 0
instances_of_different_days = [];
for i, row in combined_df.iterrows():
    if len(set(row[month_cols].values)) > 1:
        print(count+1, end="\r")
        count = count + 1
        instances_of_different_days.append(list(row[month_cols].values))
instances_of_different_days

[[17, 18, 18, 18], [11, 13, 13, 13]]

In [24]:
#Day & Weekday values are repeated in all rows except 2, we retain only one
#All Vehicle types are Bikes, Vehicle Type is not necessary.

combined_df['Day_of_Month'] = combined_df[month_cols[0]]
combined_df['Day_of_Week'] = combined_df[weekday_cols[0]]

combined_df.drop(month_cols+weekday_cols, axis=1, inplace=True)
combined_df.drop('Vehicle_Type', axis=1, inplace=True)

combined_df.head(3)

         Order_No       User_Id  ...  Day_of_Month Day_of_Week
0   Order_No_4211   User_Id_633  ...             9           5
1  Order_No_25375  User_Id_2285  ...            12           5
2   Order_No_1899   User_Id_265  ...            30           2

[3 rows x 19 columns]

In [34]:
combined_df['Temperature'] = combined_df['Temperature'].fillna(combined_df['Temperature'].mean())
combined_df['Precipitation(mm)'].fillna(combined_df['Precipitation(mm)'].mean(), inplace=True)

In [35]:
numeric_cols = []
object_cols = []
time_cols = []
for k, v in combined_df.dtypes.items():
    if (v != object):
        if (k != "Time_Pic_Arr"):
            numeric_cols.append(k)
    elif k.endswith("Time"):
        time_cols.append(k)
    else:
        object_cols.append(k)
combined_df[numeric_cols].head(3)

   Platform_Type  Pla_Mon  ...  Destination_Lat  Destination_Lon
0              3        9  ...        -1.300406        36.829741
1              3       12  ...        -1.295004        36.814358
2              3       30  ...        -1.300921        36.828195

[3 rows x 16 columns]

In [36]:
combined_df[time_cols].head(3)

   Pla_Time  Con_Time Arr_Pic_Time Pickup_Time
0  09:35:46  09:40:10     10:04:47    10:27:30
1  11:16:16  11:23:21     11:40:22    11:44:09
2  12:39:25  12:42:44     12:49:34    12:53:03

In [37]:
#Convert an object to numeric (encoding), try (OHE -1,0)

le = LabelEncoder()
le.fit(combined_df['Personal_Business'])
combined_df['Personal_Business'] = le.transform(combined_df['Personal_Business'])
combined_df['Personal_Business'][:2]

0    0
1    1
Name: Personal_Business, dtype: int64

In [38]:
#Correlation between numeric features and the target variable
corr_matrix = combined_df[:border][numeric_cols+['Time_Pic_Arr']].corr()
print(corr_matrix["Time_Pic_Arr"].sort_values(ascending=False))

Time_Pic_Arr         1.000000
Distance(km)         0.580608
Destination_Lon      0.070425
Pickup_Lon           0.060285
Con_Weekday          0.009744
Arr_Pic_Weekday      0.009744
Pickup_Weekday       0.009744
Pla_Weekday          0.009693
Temperature          0.005779
Precipitation(mm)    0.003934
Platform_Type       -0.003827
Pickup_Mon          -0.014701
Arr_Pic_Mon         -0.014701
Con_Day_Mon         -0.014701
Pla_Mon             -0.014710
Pickup_Lat          -0.053823
Destination_Lat     -0.061872
Name: Time_Pic_Arr, dtype: float64

In [39]:
features = numeric_cols + ['Personal_Business']

data_df = combined_df[features]

y = combined_df[:border]['Time_Pic_Arr']
train = data_df[:border]
test = data_df[border:]

test.head()

       Platform_Type  Pla_Mon  ...  Destination_Lon  Personal_Business
21201              3       27  ...        36.822390                  0
21202              3       17  ...        36.823907                  0
21203              3       27  ...        36.851365                  0
21204              3       17  ...        36.790658                  0
21205              3       11  ...        36.792161                  0

[5 rows x 17 columns]

In [40]:
for df in [Train_df, Test_df]:
    df.drop(['Arrival at Pickup - Weekday (Mo = 1)', 'Confirmation - Weekday (Mo = 1)'], axis = 1, inplace = True)
    df.drop(['Arrival at Pickup - Day of Month', 'Confirmation - Day of Month'], axis = 1, inplace = True)

In [41]:
X_train, X_test, y_train, y_test = train_test_split(train, y, test_size=0.2, shuffle=True)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(16960, 17) (4241, 17) (16960,) (4241,)

In [42]:
def test_model(model, y_test, X_test):
    predictions = model.predict(X_test.reshape(-1, 1))
    predictions = predictions.reshape(-1)
    rmsle = np.sqrt(np.mean((np.log(1+predictions) - np.log(1+y_test))**2))
    return np.round(rmsle, 3)

In [43]:
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [44]:
rs = 3
kfold = KFold(n_splits=10, random_state=rs, shuffle=True)

regressors = []
regressors.append(SVR())
regressors.append(GradientBoostingRegressor(random_state=rs))
regressors.append(ExtraTreesRegressor(n_estimators=rs))
regressors.append(RandomForestRegressor(random_state=rs))

cv_results = []
for regressor in regressors:     #scores to be minimised are negated (neg)
    cv_results.append(np.sqrt(abs(cross_val_score(regressor, X_train, y=y_train, scoring='neg_mean_squared_error', cv=kfold))))

cv_means = []
cv_stds = []
for cv_result in cv_results:
    cv_means.append(cv_result.mean())
    cv_stds.append(cv_result.std())
    
cv_res = pd.DataFrame({ 
    "Algorithm": ["SVR", "GBR", "EXR", "RFR"],
    "CrossValMeans": cv_means, "CrossValErrors": cv_stds
                       })
cv_res = cv_res.sort_values("CrossValMeans", ascending=True)
print(cv_res)

  Algorithm  CrossValMeans  CrossValErrors
1       GBR     781.344527       14.927407
3       RFR     803.526323       13.391408
0       SVR     934.182015       17.032906
2       EXR     947.417393       14.933516

In [45]:
params = {
    'n_estimators':[75], # [75, 95],
    'num_leaves': [15], #[12,15, 17],
    'reg_alpha': [0.02], #[0.02, 0.05],
    'min_data_in_leaf': [300],  #[250, 280, 300]
    'learning_rate': [0.1], #[0.05, 0.1, 0.25],
    'objective': ['regression'] #['regression', None]
    }

lsearch = GridSearchCV(estimator = lgbm.LGBMRegressor(random_state=rs), cv=kfold,scoring='neg_mean_squared_error', param_grid=params)
lgbm = lsearch.fit(X_train, y_train)

l_params = lgbm.best_params_
l_score = np.sqrt(abs(lgbm.best_score_))
print(lgbm.best_params_, np.sqrt(abs(lgbm.best_score_)))

{'learning_rate': 0.1, 'min_data_in_leaf': 300, 'n_estimators': 75, 'num_leaves': 15, 'objective': 'regression', 'reg_alpha': 0.02} 776.310543663503

In [46]:
RFC = RandomForestRegressor(random_state=rs)
rf_param = {"max_depth":[None], "max_features":[3], "min_samples_split":[10],
           "min_samples_leaf": [3], "n_estimators":[300]}
rsearch = GridSearchCV(RFC, cv=kfold, scoring='neg_mean_squared_error',param_grid=rf_param)
rfm = rsearch.fit(X_train, y_train)

r_score = np.sqrt(abs(rfm.best_score_))
r_params = rfm.best_params_
print(r_score, r_params)

784.346530525453 {'max_depth': None, 'max_features': 3, 'min_samples_leaf': 3, 'min_samples_split': 10, 'n_estimators': 300}

In [47]:
lgb_train = lgb.Dataset(X_train, y_train)
lgb_eval = lgb.Dataset(X_test, y_test, reference=lgb_train)

lparams = {
           'learning_rate': 0.1, 'min_data_in_leaf': 300, 
           'n_estimators': 75, 'num_leaves': 20, 'random_state':rs,
           'objective': 'regression', 'reg_alpha': 0.02,
          'feature_fraction': 0.9, 'bagging_fraction':0.9}


lgbm = lgb.train(lparams, lgb_train, valid_sets=lgb_eval, num_boost_round=20, early_stopping_rounds=20)

lpred = lgbm.predict(X_test, num_iteration=lgbm.best_iteration)

print("The RMSE of prediction is ", mean_squared_error(y_test, lpred)**0.5)

[1]	valid_0's l2: 905931
Training until validation scores don't improve for 20 rounds.
[2]	valid_0's l2: 852481
[3]	valid_0's l2: 809339
[4]	valid_0's l2: 773485
[5]	valid_0's l2: 744517
[6]	valid_0's l2: 720284
[7]	valid_0's l2: 700844
[8]	valid_0's l2: 685022
[9]	valid_0's l2: 672301
[10]	valid_0's l2: 661575
[11]	valid_0's l2: 652552
[12]	valid_0's l2: 644390
[13]	valid_0's l2: 639515
[14]	valid_0's l2: 633909
[15]	valid_0's l2: 629554
[16]	valid_0's l2: 625403
[17]	valid_0's l2: 622260
[18]	valid_0's l2: 619610
[19]	valid_0's l2: 616797
[20]	valid_0's l2: 614526
[21]	valid_0's l2: 612632
[22]	valid_0's l2: 611169
[23]	valid_0's l2: 609560
[24]	valid_0's l2: 607941
[25]	valid_0's l2: 606529
[26]	valid_0's l2: 605255
[27]	valid_0's l2: 604044
[28]	valid_0's l2: 603300
[29]	valid_0's l2: 602462
[30]	valid_0's l2: 601917
[31]	valid_0's l2: 600906
[32]	valid_0's l2: 600564
[33]	valid_0's l2: 600051
[34]	valid_0's l2: 599665
[35]	valid_0's l2: 599280
[36]	valid_0's l2: 598510
[37]	valid_0's l2: 598544
[38]	valid_0's l2: 598079
[39]	valid_0's l2: 597239
[40]	valid_0's l2: 596793
[41]	valid_0's l2: 596271
[42]	valid_0's l2: 595964
[43]	valid_0's l2: 595775
[44]	valid_0's l2: 595194
[45]	valid_0's l2: 594987
[46]	valid_0's l2: 594728
[47]	valid_0's l2: 594760
[48]	valid_0's l2: 594472
[49]	valid_0's l2: 594294
[50]	valid_0's l2: 594105
[51]	valid_0's l2: 594057
[52]	valid_0's l2: 594034
[53]	valid_0's l2: 593922
[54]	valid_0's l2: 593757
[55]	valid_0's l2: 593740
[56]	valid_0's l2: 593538
[57]	valid_0's l2: 593493
[58]	valid_0's l2: 593396
[59]	valid_0's l2: 593635
[60]	valid_0's l2: 593458
[61]	valid_0's l2: 593611
[62]	valid_0's l2: 593529
[63]	valid_0's l2: 593377
[64]	valid_0's l2: 593150
[65]	valid_0's l2: 593015
[66]	valid_0's l2: 592903
[67]	valid_0's l2: 592805
[68]	valid_0's l2: 592706
[69]	valid_0's l2: 592644
[70]	valid_0's l2: 592559
[71]	valid_0's l2: 592744
[72]	valid_0's l2: 592730
[73]	valid_0's l2: 592782
[74]	valid_0's l2: 592593
[75]	valid_0's l2: 592557
Did not meet early stopping. Best iteration is:
[75]	valid_0's l2: 592557
The RMSE of prediction is  769.7773567895968

In [61]:
lgbm_y = lgbm.predict(test, num_iteration=lgbm.best_iteration)
lgbm_output = pd.DataFrame({"Order No":Test_df['Order No'], 
                           "Time from Pickup to Arrival": lgbm_y.astype(int) })
lgbm_output.to_csv("BlankSamplezindi.csv", index=False)
lgbm_output.head()

         Order No  Time from Pickup to Arrival
0  Order_No_19248                         1562
1  Order_No_12736                         1223
2    Order_No_768                         1456
3  Order_No_15332                         1247
4  Order_No_21373                         1296

In [113]:
list_1 = Test_df['Order No'].tolist()
list_2 = lgbm_y
data = {"Order No": list_1, "Time from Pickup to Arrival": list_2}

df =pd.DataFrame(data)
df.head()

         Order No  Time from Pickup to Arrival
0  Order_No_19248                  1562.825515
1  Order_No_12736                  1223.538580
2    Order_No_768                  1456.695780
3  Order_No_15332                  1247.310613
4  Order_No_21373                  1296.465783

In [116]:
df.to_csv(r"C:\Users\tulsi\Documents\BlankSamplezindi.csv", index =False, header = True)